/* Hide the checkbox input but keep it interactable */
.hidden_input {
  opacity: 0;
  position: absolute;
}

/* Style the label as a button */
.checkbox_button .button {
  font-size: 0.8rem;
  width: 100%;
  max-width: 250px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;
  display: inline-block;
  user-select: none;
}

/* Default styles for the button */
.white .button {
  background-color: white;
  color: black;
  outline: none;
}

.black .button {
  background-color: black;
  color: white;
  outline: none;
}

/* Inverted styles when the checkbox is checked */
.white input:checked + .button {
  background-color: black;
  color: white;
}

.black input:checked + .button {
  background-color: black;
  color: white;
}

/* Disabled state */
.hidden_input:disabled + .button {
  background-color: var(--gray);
  color: white;
  outline: black;
  cursor: default;
}

.hidden_input:disabled + .button:hover {
  background-color: var(--gray);
  color: white;
  outline: black;
  cursor: default;
}

/* Hover state */
.white:hover .button,
.black:hover .button {
  background-color: transparent;
  outline: 1px solid currentColor;
  color: currentColor;
}

/* Media queries */
@media (max-width: 768px) {
  .checkbox_button .button {
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .checkbox_button .button {
    width: 90%;
  }
}
