.carousel {
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  
}
@media (min-width: 730px) {
  .slides-wrapper {
    width: 670px; 
    height: 370px;
  }
}
@media (min-width: 1040px) {
  .slides-wrapper {
    width: 920px; 
    height: 525px;
  }
}
@media (min-width: 1430px) {
  .slides-wrapper {
    width: 1250px; 
    height: 670px;  
    
  }
}

/* Обёртка для слайдов */
.slides-wrapper {
  overflow: visible;
  
}

/* Контейнер слайдов в виде flex-ленты */
.slides-container {
  display: flex;
  height: 100%;
  /* transition управляется через inline стили в JS для бесшовной бесконечной прокрутки */
}

.slide {
  flex: 0 0 calc(100% - 1rem); /* Ширина слайда равна ширине контейнера минус отступ */
  margin-right: 1rem; /* Отступ между слайдами */
  height: auto;
  transition: opacity 0.65s ease-in-out;
}

.slide:not(.active) {
  opacity: 0.5; /* Полупрозрачность для неактивных слайдов */
}

.slide.active {
  opacity: 1; /* Полная непрозрачность для активного слайда */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Изображение обрезается, сохраняя пропорции */
  
}

/* Кнопки навигации */
.carousel-btn {
  position: absolute;
  top: 50%;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border: none;
  color: #0000008f;            /* Цвет стрелок */
  cursor: pointer;
  z-index: 2;
  padding: 0;
  width: 48px;            /* Можно подстроить под размер иконки */
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d2d7a3;
  border-radius: 50%;

  opacity: 0;             /* Прозрачность = 0, кнопки не видны */
  pointer-events: none;   /* Отключаем клики, пока кнопки скрыты */
  transform: scale(1.2);
  transition: transform .5s ease-in, opacity .7s cubic-bezier(.15,0,.2,1) .1s;
}

.carousel:hover .carousel-btn {
  opacity: 1;             /* Делаем кнопки видимыми */
  pointer-events: auto;   /* Включаем клики */
}

/* Левый отступ для кнопки "назад" */
.carousel-btn.prev {
  position: absolute;
  top: 45%;
  left: 1rem; /* Изменили позицию кнопки "назад" */
  margin-left: 10px;
}

/* Правый отступ для кнопки "вперёд" */
.carousel-btn.next {
  position: absolute;
  top: 45%;
  right: 1rem; /* Изменили позицию кнопки "вперёд" */
  margin-right: 10px;
}

/* Изменение цвета иконки при наведении (опционально) */
.carousel-btn:hover {
  background-color: hsla(240, 6%, 88%, .698);  
}
.carousel-btn:active {
  background-color: hsla(240, 4%, 77%, .654);
}

/* Индикаторы (точки) в центре снизу */
.indicators {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 3;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.4s ease, background-color 0.4s ease;
}

.dot.active {
  background-color: #fff;
  transform: scale(1.3);
}
