.paginationBar {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.pageButton {
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pageButton:hover {
  background-color: #ddd;
}

.pageButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
