.default_button {
  font-size: 0.8rem;
  width: 100%;
  max-width: 250px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, outline 0.3s;
  display: inline-block;
}

.white {
  background-color: white;
  color: black;
  outline: none;
}

.black {
  background-color: black;
  color: white;
  outline: none;
}

.default_button:disabled {
  background-color: var(--gray);
  color: white;
  outline: black;
}

.default_button:disabled:hover {
  cursor: default;
  background-color: var(--gray);
  color: white;
  outline: black;
}

.default_button:active {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(0.98);
  transition: background-color 0.1s, transform 0.1s;
}

.black:hover,
.white:hover {
  background-color: transparent;
  outline: 1px solid currentColor;
  color: currentColor;
}

/* @keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.clicked {
  animation: bounce 0.3s ease-in-out;
} */

@media (max-width: 768px) {
  .default_button {
    font-size: 0.8rem;
    padding: 0.6rem 1.2rem;
  }
}

@media (max-width: 480px) {
  .default_button {
    width: 90%;
  }
}
