.burger {
  flex-direction: column;
  justify-content: space-between;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
}

.burger span {
  background: black;
  border-radius: 10px;
  height: 0.1rem;
  margin: 0.2rem 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.burger span:nth-of-type(1) {
  width: 100%;
}

.burger span:nth-of-type(2) {
  width: 100%;
}

.burger span:nth-of-type(3) {
  width: 100%;
}

.burger.open span:nth-of-type(1) {
  transform-origin: center;
  transform: translate(0.15rem, 0.15rem) rotateZ(45deg);
  width: 50%;
}

.burger.open span:nth-of-type(2) {
  transform-origin: top;
  transform: rotateZ(-45deg);
}

.burger.open span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(0.8rem, -0.2rem) rotateZ(45deg);
}
