.carousel {
  width: 100%;
  height: 90vh;
  position: relative;
  margin: auto;
  --slide-height: 100vh;
  --slide-spacing: 1rem;
  --slide-size: 100vw;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 0rem;
  --slide-size-lg: calc(100%);
}

.carousel__viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

@media (min-width: 750px) {
  .carousel__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}

@media (min-width: 1200px) {
  .carousel__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}

.carousel__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}

@media (min-width: 750px) {
  .carousel__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .carousel__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}

.carousel__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.carousel__controls {
  z-index: 100;
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.carousel__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.carousel__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2rem; /* Adjusted width */
  height: 2rem; /* Adjusted height */
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__button__prev {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 10px; /* Adjusted distance from the left border */
  transform: translateY(-50%);
}

.carousel__button__next {
  z-index: 100;
  position: absolute;
  top: 50%;
  right: 10px; /* Adjusted distance from the right border */
  transform: translateY(-50%);
}

.carousel__button:disabled {
  color: var(--detail-high-contrast);
}

.carousel__button .carousel__button__svg {
  width: 100%;
  height: 100%;
  color: var(--gray);
  filter: blur(0);
  transition: 0.3s;
}

.carousel__button .carousel__button__svg:hover {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.438);
  filter: blur(0.5px);
}

.carousel__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: absolute;
  bottom: 20px; /* Adjust this value to position the dots */
  width: 100%;
}

.carousel__dot {
  z-index: 100;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel__dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.carousel__dot_selected {
  background-color: var(--gray);
}

.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: var(--background-site);
  position: relative;
  height: 0.6rem;
  justify-self: flex-end;
  align-self: center;
  width: 13rem;
  max-width: 90%;
  overflow: hidden;
}

.embla__progress__bar {
  background-color: var(--text-body);
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

.embla__controls {
  grid-template-columns: auto 1fr auto;
}

.embla__progress {
  justify-self: center;
  transition: opacity 0.3s ease-in-out;
  width: 8rem;
}

.embla__progress__hidden {
  opacity: 0;
}

.embla__progress__bar {
  animation-name: autoplay-progress;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.embla__progress__hidden .embla__progress__bar {
  animation-play-state: paused;
}

@keyframes autoplay-progress {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
