.pro {
  width: 100%;
  padding: 2.5rem 0rem;
  margin-bottom: 7rem;
}

.gym_info_box {
  width: 100%;
  background-color: #f5f5f7;
  border-radius: 15px;
  padding: 1.2rem;
  margin-top: 1.7rem;
  margin-bottom: 2rem;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.image_hero {
  position: absolute;
  top: 0;
  /* left: 25%; */
  z-index: -2;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.image_hero img {
  width: 100%;

  opacity: 0.8;
  filter: blur(0.1rem);
}

.gym_display_box {
  display: flex;
  flex-direction: column;
  /* padding: 20px 40px; */
  color: var(--black);
  text-transform: uppercase;
  margin-left: 2.5rem;
}

.gym_info_box .carousel_box {
  box-sizing: border-box;
}

.gym_options_box {
  display: flex;
  margin-left: 1.5rem;
}

.trainer_list{
  width: 100%;
  max-width: 3600px; /* ограничьте максимальную ширину */
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
  gap: 4rem;
  margin-bottom: 1rem;
}
.zagl{
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 1rem;
}