.text_button {
  width: 100%;
  max-width: fit-content; /* Max width to prevent growing too large */
  background-color: transparent;
  /* color: var(--white, #666); */
  border: none;
  padding: 2px 4px;
  font-size: 0.8rem;
  font-weight: normal;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  background-size: 0% 1px;
  background-position: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Hover, Focus, and Active states */
.text_button:hover,
.text_button:focus,
.text_button:active {
  background-size: 100% 1px;
}

.white {
  background-image: linear-gradient(white, white);
  color: white;
  outline: none;
}

.black {
  background-image: linear-gradient(black, black);
  color: black;
  outline: none;
}

/* Improved keyboard accessibility */
.text_button:focus-visible {
  outline: 1px solid #007bff;
  outline-offset: 3px;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .text_button {
    font-size: 14px;
    padding: 6px 10px;
  }
}
