.customScroll {
  width: 100%;

  height: 100vh; /* Высота окна */

  overflow-y: auto; /* Включение вертикальной прокрутки */

  scrollbar-width: thin;

  scrollbar-color: #f8f9fa;

  background: transparent;

  border-radius: 10px;
}

.customScroll::-webkit-scrollbar {
  width: 8px;
}

.customScroll::-webkit-scrollbar-track {
  background: transparent;
}

.customScroll::-webkit-scrollbar-thumb {
  background-color: #f8f9fa;

  border-radius: 10px;
}
