.navbar {
  /* position: fixed; */
  top: 0; /* Прикрепляет к верхнему краю */
  left: 0; /* Прикрепляет к левому краю */
  width: 100%; /* Растягивает на всю ширину экрана */
  background-color: #fff; /* Цвет фона */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 

  z-index: 1000; /*Устанавливает приоритет отображения (над другими элементами) */
  height: 75px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
h2{
  margin: 0;
}
.nav_links {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  gap: 1.3rem;
  text-decoration: none;
  list-style: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.3rem;
  text-decoration: none;
  color: inherit;
}
