.select_box {
  width: 100%;
  min-width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.base_option{
  color: var(--gray);
}

/* Hover and focus effects */
.select_box:hover {
  border-color: var(--gray);
}

.select_box:focus {
  border-color: var(--gray);
  box-shadow: 0 0 5px var(--light-gray);
  outline: none;
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .select_box {
    font-size: 14px;
    padding: 8px;
  }
}
