.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  pointer-events: none;
  z-index: 9999;
}

.container > * {
  pointer-events: all;
}

