:root {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --white: #fff;
  --black: #161616;
  --gray: #909090;
  --light-gray: #c4c4c4;
  --bone-white: #f4f4f4;

  /* color-scheme: light dark; */
  color: black;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  width: 100%;
  max-width: 100vw;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 0.9rem;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
