.profileContainer {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid #000;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profileInitials {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* Responsive styles */
@media (max-width: 768px) {
  .profileContainer {
    width: 80px;
    height: 80px;
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .profileContainer {
    width: 60px;
    height: 60px;
    font-size: 18px;
  }
}
