.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    padding: 2.5rem;
    z-index: 1000;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_content{
    position: fixed;
    width: 70vw;
    height: 80vh;
    background-color: white;
    /* padding: 50px; */
    z-index: 1000;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.modal_content .close_button{
    position: absolute;
    top: 0;
    right: 0;
}

.modal_content .input_box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message_box{
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.message_box textarea{
    width: 100%;
    height: 100%;
    resize: none;
}

