.embla {
  width: 100%;
  position: relative;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1.5rem;
  --slide-spacing-sm: 1.5rem;
  --slide-spacing-lg: 1.5rem;
  overflow: hidden; /* Скрываем всё, что выходит за пределы карусели */
}

/* Область карусели */
.embla__viewport {
  width: 100%;
  overflow: hidden; /* Скрываем всё, что выходит за пределы области просмотра */
  padding-left: 1rem; /* отступ слева */
}

.embla__container {
  margin-left: 6rem; /* убрали отрицательный отступ */
  display: flex;
  backface-visibility: hidden;
  margin-right: 7rem;
}

@media (min-width: 750px) {
  .embla__container {
    margin-left: 6rem; /* убрали отрицательный отступ */
    display: flex;
    backface-visibility: hidden;
    margin-right: 7rem;
  }
}

@media (min-width: 1200px) {
  .embla__container {
    margin-left: 6rem; /* убрали отрицательный отступ */
    display: flex;
    backface-visibility: hidden;
    margin-right: 7rem;
  }
}

.embla__slide {
  min-width: 0;
  flex: 0 0 313px;
  padding-left: var(--slide-spacing); /* Теперь расстояние 4rem */
  padding-bottom: 4rem;
}

@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 313px;
    padding-left: var(--slide-spacing-sm);
  }
}

@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 313px;
    padding-left: var(--slide-spacing-lg);
  }
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
  z-index: 10;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3rem;
  height: 3rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d2d7a3;
  color: #0000008f;
  opacity: 0; /* Прозрачность = 0, кнопки не видны */
  pointer-events: none; /* Отключаем клики, пока кнопки скрыты */
  transform: scale(1.2);
  transition: transform 0.5s ease-in,
    opacity 0.7s cubic-bezier(0.15, 0, 0.2, 1) 0.1s;
}

.embla:hover .embla__button {
  opacity: 1; /* Делаем кнопки видимыми */
  pointer-events: auto; /* Включаем клики */
}

.embla .embla__button__prev {
  position: absolute;
  top: 35%;
  left: 1rem; /* Изменили позицию кнопки "назад" */
  margin-left: 10px;
}

.embla__button:hover {
  background-color: hsla(240, 6%, 88%, 0.698);
}

.embla__button:active {
  background-color: hsla(240, 4%, 77%, 0.654);
}

.embla .embla__button__next {
  position: absolute;
  top: 35%;
  right: 1rem; /* Изменили позицию кнопки "вперёд" */
  margin-right: 10px;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__button__next .embla__button__svg {
  margin-left: 2.5px;
}

.embla__button__prev .embla__button__svg {
  margin-right: 2.5px;
}


.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

.embla__button--next .embla__button__svg {
  margin-left: 3.5px;
}

.embla__button--prev .embla__button__svg {
  margin-right: 3.5px;
}
