.pro{
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 5rem;
   /* Установите нужный цвет */
  min-height: 100vh;        /* Убедитесь, что фон занимает всю высоту экрана */
  padding-bottom: 10rem;
}

.FilterBar {
  background-color: #ececec; /* Задайте нужный цвет */
  padding: 1rem; /* Добавьте отступы, если необходимо */
  border-radius: 8px; /* Пример стилизации */
}

.pro .list_box {
  width: 100%;
  max-width: 3600px; /* ограничьте максимальную ширину */
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  gap: 4rem;
}




@media (max-width: 768px) {
  .pro{
    flex-direction: column;
  }
}