.mainDisplayBox {
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 9rem;
  background-color: #f5f5f7;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.userMainBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;

  background-color: white;
  border-radius: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 731px) {
  .userMainBox {
    width: 692px;
    padding-left: 58px;
    padding-right: 58px;
  }
}

@media (min-width: 1070px) {
  .userMainBox {
    width: 980px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

.profilePicBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3rem;
}

.imageBox {
  width: 240px;
  height: 300px;
  overflow: hidden;
  border-radius: 18px;
  object-fit: cover;
}

.ratingBox {
  margin-top: 0.5rem;
}

.userInfoBox {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userFullName {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0;
}

.userSpecialties {
  font-size: 1.2rem;
  color: #777;
  margin: 0;
}

.userDescription {
  font-size: 1rem;
  color: #1d1d1f;
  margin: 0;
}

.scheduleBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.bottomInfoBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feedbackBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feedbackList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.leaveFeedback {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feedbackTextarea {
  width: 100%;
  height: 100px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.2s;
  border-radius: 18px;
  width: 400px;
  height: 140px;
  resize: none;
  color: #1d1d1f;
  display: block;
  font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial,
    sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.2353641176;
  text-decoration: none;
}

.feedbackTextarea:focus {
  border-color: #000;
}

@media (max-width: 768px) {
  .userMainBox {
    flex-direction: column;
    align-items: center;
  }
  .userInfoBox {
    text-align: center;
  }
  .bottomInfoBox {
    flex-direction: column;
  }
}
