.container {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.navigation_box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navigation_box .week_box {
  justify-self: center;
  display: flex;
  gap: 2rem;
}

.navigation_box .calendar_button {
  justify-self: end;
}

.schedule_box {
  background: var(--light-gray);
}
